.containerServicos{
    display: flex;
    flex-direction: column;
    padding: 100px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px; /* Espaço lateral para as setas */
    position: relative;
}

.slider-section {
    padding: 80px 0;
    background: #fdfdfd;
}

.swiper {
    width: 100%;
    padding-bottom: 50px !important; /* Espaço para as bolinhas */
}

.service-card-slider {
    background: rgb(255, 255, 255);
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #eee;
    height: 100%;
    transition: 0.3s;
}

.section-header-servicos {
    text-align: center;
    margin-bottom: 40px;
}

.section-header-servicos h2 {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 8px;
}

.section-header-servicos p {
    font-size: 1.5rem;
    color: #111;
    font-weight: 300;
}

.service-card-slider:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-color: #dd977a;
}

.service-card-slider h3{
    font-size: 1.1em;
    margin-bottom: 5px;
}

.service-card-slider p{
    font-size: 0.9em;
    margin-bottom: 20px;
}

.icon{
    width: 25px;
    margin-bottom: 12px;
}

/* Ajuste de cores dos botões para combinar com ouro */
.swiper-button-next, .swiper-button-prev {
    color: #505050 !important;
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 20px !important;
}

.swiper-pagination-bullet-active {
    background: #dd977a !important;
}